.edge {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    margin-top: 130px;
    height: auto;
}

.edge .h3 {
    font-family: 'GothamProBold';
    font-weight: 700;
    font-size: 46px;
    text-align: center;
    color: #333333;
}

.edge .spot {
    position: absolute;
    z-index: -1;
    margin-top: 40px;
}

.edge .conteiner {
    display: grid;
    grid-auto-flow: column;
    column-gap: 32px;
}

.edge .conteiner .ordinaru {
    display: grid;
    grid-auto-flow: column;
    width: 450px;
    height: 120px;
    background: #E7E9E8;
    border-radius: 12px;
    border-top: 11px solid #EB5757;
}

.edge .conteiner .ordinaru .question {
    width: 85px;
    margin-top: 15px;
    margin-left: 30px;
}

.edge .conteiner .ordinaru .ordinaru_logo{
    position: relative;
    margin-left: 244px;
    margin-top: 15px;
    width: 90px;
}

.edge .conteiner .ordinaru p {
    position: absolute;
    z-index: 1;
    font-family: 'GothamProBold';
    font-weight: 700;
    font-size: 26px;
    margin-left: 150px;
    margin-top: 45px;
    color: #333333;
}

.edge .conteiner .back {
    display: grid;
    font-family: 'GothamProRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    text-align: left;
    padding-left: 10px;
    width: 400px;
    height: 115px;
    margin-top: 20px;
    margin-left: 18px;
    background: #ECECEC;
    border-radius: 4px 8px 8px 4px;
    border-left: 7px solid #EB5757;
}

.edge .conteiner .back_none{
    display: grid;
    font-family: 'GothamProRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    text-align: left;
    padding-left: 10px;
    width: 400px;
    height: 90px;
    margin-top: 20px;
    margin-left: 18px;
    border-radius: 4px 8px 8px 4px;
    border-left: 7px solid #EB5757;
}

.edge .conteiner .cloudy {
    display: grid;
    grid-auto-flow: column;
    width: 450px;
    height: 120px;
    background: #E7E9E8;
    border-radius: 12px;
    border-top: 11px solid #87B645;
}
.edge .conteiner .cloudy .check {
    width: 85px;
    margin-top: 15px;
    margin-left: 30px;
}

.edge .conteiner .cloudy .cloudy_logo{
    position: relative;
    margin-left: 245px;
    margin-top: 15px;
    width: 90px;
}

.edge .conteiner .cloudy p {
    position: absolute;
    z-index: 1;
    font-family: 'GothamProBold';
    font-weight: 700;
    font-size: 26px;
    margin-left: 150px;
    margin-top: 45px;
    color: #333333;
}

.edge .conteiner .back_green {
    display: grid;
    width: 400px;
    height: 115px;
    font-family: 'GothamProRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    text-align: left;
    padding-left: 10px;
    background: #ECECEC;
    margin-top: 20px;
    margin-left: 18px;
    border-radius: 4px 8px 8px 4px;
    border-left: 7px solid #87B645;
}

.edge .conteiner .back_green_none{
    display: grid;
    font-family: 'GothamProRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    text-align: left;
    padding-left: 10px;
    width: 400px;
    height: 90px;
    margin-top: 20px;
    margin-left: 18px;
    border-radius: 4px 8px 8px 4px;
    border-left: 7px solid #87B645;
}

@font-face { 
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face { 
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@media(max-width: 768px){
    .edge{
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
        margin-top: 130px;
        width: 768px;
        height: auto;
    }

    .edge .conteiner {
        display: grid;
        grid-auto-flow: row;
        row-gap: 40px;
        justify-content: center;
        width: 768px;
    }

}

@media(max-width: 320px){
    .edge{
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
        width: 320px;
        height: auto;
    }
    .edge .h3 {
        font-size: 24px;
        width: 312px;
    }
    
    .edge .spot  svg{
        width: 256px;
        height: 384px;
    }
    
    .edge .conteiner {
        display: grid;
        grid-auto-flow: row;
        row-gap: 40px;
        justify-content: center;
        margin-left: 0px;
        width: 320px;
    }

    .edge .conteiner .ordinaru {
        width: 290px;
        height: 104px;
    }
    
    .edge .conteiner .ordinaru .question {
        width: 48px;
        height: 48px;
        margin-top: 25px;
        margin-left: 20px;
    }
    
    .edge .conteiner .ordinaru .ordinaru_logo{
        margin-left: 130px;
        margin-top: 10px;
        width: 90px;
    }
    
    .edge .conteiner .ordinaru p {
        font-size: 18px;
        margin-left: 80px;
        margin-top: 40px;
    }
    
    .edge .conteiner .back {
        font-size: 14px;
        width: 255px;
        height: 135px;
        margin-top: 20px;
        margin-left: 10px;
    }
    
    .edge .conteiner .back_none{
        font-size: 14px;
        width: 255px;
        height: 90px;
        margin-top: 20px;
        margin-left: 10px;
    }
    
    .edge .conteiner .cloudy {
        width: 290px;
        height: 104px;
    }
    .edge .conteiner .cloudy .check {
        width: 48px;
        height: 48px;
        margin-top: 25px;
        margin-left: 20px;
    }
    
    .edge .conteiner .cloudy .cloudy_logo{
        margin-left: 130px;
        margin-top: 10px;
        width: 90px;
    }
    
    .edge .conteiner .cloudy p {
        font-size: 18px;
        margin-left: 80px;
        margin-top: 40px;
    }
    
    .edge .conteiner .back_green {
        font-size: 14px;
        width: 255px;
        height: 110px;
        margin-top: 20px;
        margin-left: 10px;
    }
    
    .edge .conteiner .back_green_none{
        font-size: 14px;
        width: 255px;
        height: 90px;
        margin-top: 20px;
        margin-left: 10px;
    }
}