.preview {
    display: flex;
    height: 1300px;
}

.preview .img img {
    position: absolute;
    margin-top: 125px;
    margin-left: 20px;
    width: 1200px;
}

.preview .spot svg {
    margin-top: 80px;
    margin-left: 829px;
}

.preview .preview_text {
    position: absolute;
    display: grid;
    grid-auto-flow: row;
    width: 550px;
    margin-left: 900px;
    margin-top: 350px;
    text-align: left;
}

.preview .preview_text span{
    font-family: 'GothamProBold';
    font-weight: 700;
    font-size: 46px;
    line-height: 100%;
    color: #1BAAD1;
}

.preview .preview_text p{
    font-family: 'GothamProRegular';
    font-weight: 400;
    font-size: 28px;
    color: #333333;
}

@font-face { 
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face { 
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@media(max-width: 1440px){
    .preview .spot svg {
        margin-top: 80px;
        margin-left: 750px;
    }
}

@media(max-width: 1024px){

    .preview {
        overflow: hidden;
        height: 1000px;
    }

    .preview .img {
        margin-left: -50px;
    }

    .preview .img img {
        width: 800px;
    }

    .preview .spot svg {
        margin-top: 80px;
        margin-left: 573px;
        width: 500px;
        height: 735px;
    }

    .preview .preview_text {
        width: 450px;
        margin-left: 570px;
        margin-top: 275px;
    }
    
    .preview .preview_text span{
        font-size: 36px;
    }
    
    .preview .preview_text p{
        font-size: 18px;
    }
}

@media(max-width: 768px){
    .preview {
        overflow: hidden;
        display: flex;
        height: auto;
    }

    .preview .img {
        margin-top: 0px;
        margin-left: -50px;
    }

    .preview .img img {
        margin-top: 50px;
        width: 700px;
    }

    .preview .spot svg {
        margin-top: 30px;
        margin-left: 316px;
        width: 500px;
        height: 735px;
    }

    .preview .preview_text {
        width: 255px;
        margin-left: 480px;
        margin-top: 200px;
    }
    
    .preview .preview_text span{
        font-size: 34px;
    }
    
    .preview .preview_text p{
        font-size: 16px;
    }
}

@media(max-width: 320px){
    .preview {
        height: 650px;
    }
    
    .preview .img img {
        margin-top: 300px;
        margin-left: 20px;
        width: 330px;
        height: 310px;
    }
    
    .preview .spot svg {
        width: 320px;
        height: 440px;
        margin-top: 0px;
        margin-left: 49px;
    }
    
    .preview .preview_text {
        margin-left: 40px;
        margin-top: 80px;
    }
    
    .preview .preview_text span{
        font-size: 36px;
    }
    
    .preview .preview_text p{
        font-weight: 400;
        font-size: 18px;
    }
}